<!--
  Created by Cursor
  
  This is a custom block layout for the block.
  It is used to display the block content.
  It is based on the default block layout, but with some customizations.
  It is used to display the block content.
-->
  {{ $block := .block }}
{{ $page := .page }}

{{ if eq $block.block "slider" }}
  {{ partial "blocks/slider" (dict "block" $block "page" $page) }}
{{ else if eq $block.block "gallery" }}
  {{ partial "blocks/gallery" (dict "block" $block "page" $page) }}
{{ else if eq $block.block "markdown" }}
  {{ partial "blocks/markdown" (dict "block" $block "page" $page) }}
{{ else if eq $block.block "hero" }}
  {{ partial "blocks/hero" (dict "block" $block "page" $page) }}
{{ else }}
  <!-- Unknown block type: {{ $block.block }} -->
{{ end }} 